/*                  Generelt                     */


* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}






























































































/*                       KAT START                      */






































































































































































































/*                             AMALIE START                                       */






































































































































































































/*                               SYLLE START                                      */






































































































































































































/*                                   MICHELLE START                                */

#forside .main {
    width: 50vw;
}

#forside .karrusel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#forside .the_container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#forside .the_container section {
    scroll-snap-align: start;
    min-width: 100%;
}

#forside .karrusel_inner {
    display: flex;
    margin: 50px 75px 20px 75px;

    flex-grow: 1;
    flex-basis: 800px;
}

#forside .karrusel_tekst {
    margin: 70px 50px 20px 50px;

    flex-grow: 1;
    flex-basis: 800px;
}

@media only screen and (min-width: 768px) {
    #forside .karrusel_inner {
        flex-basis: 200px;
        margin: 110px 10px 20px 10px;
    }

    #forside .karrusel_tekst {
        flex-basis: 200px;
        margin-top: 40px;
    }

    #forside .karrusel_brod {
        margin-top: 50px;
        margin-left: 20px;
    }

}


#forside .tilbage,
#forside .foran {
    margin-top: 10%;
    cursor: pointer;
    align-items: center;
}

#forside .tilbage p,
#forside .foran p {
    z-index: 10;
    font-size: 40px;
    color: #E0BD02;
}

/* Tekst styling */
#forside h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    line-height: 50px;
}

#forside p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
}

/*Sektion 2*/

#forside .sektion_2 {
    display: flex;
    flex-wrap: wrap;
}

#forside .sektion_2_billedet {}

#forside .guloverlay20 {
    margin-top: 20vw;
    margin-left: -50vw;
    position: absolute;
    opacity: 0.6;
    width: 60%;
}


#forside .sektion_2_tekst {
    flex-grow: 1;
    flex-basis: 800px;


    margin: 10px 50px 20px 50px;
}

#forside .sektion_2_brod {
    margin: 20px 0px 20px 40px;
}

#forside .sektion_2_billede {
    flex-grow: 1;
    flex-basis: 800px;

    margin: 20px 120px 20px 50px;
}

@media only screen and (min-width: 768px) {
    #forside .sektion_2_tekst {
        flex-basis: 200px;
    }

    #forside .sektion_2_billede {
        flex-basis: 200px;
    }

    #forside .guloverlay20 {
        margin-top: 15vw;
        margin-left: -25vw;
        width: 30%;
    }

    #forside .sektion_2_brod {
        margin: 80px 0px 20px 40px;
    }
}


















































































































































































/*                                     Michelle slut                                 */
